@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    font-family: 'Poiret One', cursive;
}
body {
    text-align: center;
    color: rgb(62, 62, 62);
    background-color: whitesmoke;
}
.first {
    padding: 20px 10px 10px 50px;
}
.homeimagefirst {
    height: 60%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: -1;
    margin-bottom: 6rem;
} 
.joinphoto {
    height: 90%;
    width: 100%;
    opacity: 25%;
    object-fit: cover;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: -1;
    margin-bottom: 6rem;
}
.loginphoto {
    height: 90%;
    width: 100%;
    opacity: 40%;
    object-fit: cover;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: -1;
    margin-bottom: 6rem;
}
.learnphoto {
    height: 90%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: -1;
    margin-bottom: 6rem;
}
.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
}
/* .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
} */
a{
    text-decoration: none;
    color: rgb(62, 62, 62);
}
p {
    color: rgb(62, 62, 62);
    font-size: 18px;
    font-weight: bold;
}
h1 {
    font-size: 50px;
    color: rgb(62, 62, 62);
}
h2 {
    font-size: 16px;
}
h3 {
    font-size: 16px;
}
h5 {
    font-size: 18px;
}
label {
    font-size: 16px;
}
.imageproduct {
    width: 250px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 6rem;
    margin: 0 auto;
    padding: 6rem;
}
.join-form {
    height: 350px;
    backgro;
    justify-content: center;
    font-weight: bold;
}
.dropbtn {
    background-color: #f8e9c9;
    padding: 15px;
    color: rgb(62, 62, 62);
    font-size: 15px;
    top: 100px;
    left: 50px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
}  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8e9c9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: rgb(62, 62, 62);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}
  
.dropdown-content a:hover {
    background-color: whitesmoke;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #f8e9c9;
}
footer {
    font-size: 15px;
    color: rgb(62, 62, 62);
    align-items: center;
    height: 10vh;
    font-weight: 500;
    position: inherit;
    border-top: .5px solid;
    border-color: rgb(90, 90, 90);
    margin-top: 400px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}