<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Bubs</title>
</head>
<body>
    <h1>BUBS for Babies</h1>
    <h4>WELCOME TO YOUR ACCOUNT PEACH</h4>

        <div class="dropdown" style="float:left;">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="/">Home</a>

                <a href="/toys">Toys</a>

                <a href="/learn">Learn</a>

                <a href ="/logout">LOG OUT</a>  
            </div>
        </div>
    <br>
    <br>
    <br>
    <ol>
        {% for id, name, price, image in product_items %}
        <li>
            <br>
            <br>
            <img src = "{{image}}" class="imageproduct">
            <br>
            <br>
            {{name}}
            <br>
            <br>
            {{price}}
            <br>
            <br>
            [ <a href="/edit/{{id}}">Edit Item</a> / <a href="{{url_for('delete', toys_id = id)}}">Delete Item</a> / <a href="/add">Add Item</a> ]
            <br>
        </li>
        {% endfor %}
    </ol>  
    <footer>copyright 2022</footer>
</body>
</html>