<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Bubs</title>
</head>
<body>
  <h1>BUBS for Babies</h1>
        <div class="dropdown" style="float:left;">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
              <a href="/">Home</a>

              <a href="/toys">Toys</a>

              <a href="/learn">Learn</a>
                
              <a href ="/logout">Log Out</a>    
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
  <h3>Add an item:</h3>
      <form method="POST" action="/add_action">
        <div>
          <label>
            Item Name:
            <br>
            <input type="text" name="name">
          </label>
        </div>
        <div>
          <label>
            Item Price (in cents):
            <br>
            <input type="text" name="price">
          </label>
        </div>
        <div>
          <label>
            Image:
            <br>
            <input type="text" name="image_url">
          </label>
        </div>
        <input type="submit" value="Submit">
      </form>
      <footer>Copyright 2022</footer>
</body>
</html>