<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Bubs</title>
</head>
<body>
  <h1>BUBS</h1>
    <h3>Edit Item:</h3>
    <form method="POST" action="/edit_action/{{id}}">
    <div>
        <label>
        Item Name:
        <br>
        <input type="text" name="name" value="{{name}}">
        </label>
    </div>
    <div>
        <label>
        Item Price:
        <br>
        <input type="number" name="price" value="{{price}}">
        </label>
    </div>
    <div>
        <label>
          Image:
          <br>
          <input type="text" name="image_url" value="{{image_url if image_url else ''}}">
        </label>
    </div>
    <input type="hidden" name="id" value="{{id}}">
    <input type="submit" value="Submit">
    </form>
</body>
</html>