<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Bubs</title>
</head>
<body>
    <h1>BUBS for Babies</h1>
        <div class="dropdown" style="float:left;">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="/toys">Toys</a>
                
                <a href="/learn">Learn</a>
                
                <a href ="/login">Log In</a>
    
                <a href ="/join">Join</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="first">
            <img src="https://cdn.shopify.com/s/files/1/0687/7613/collections/BABY_Clothing_f98ca567-9f2f-4853-ab3e-0931bdf09958_2000x.jpg?v=1666838308" class="homeimagefirst" alt="firstphoto">
        </div>
        <footer>Copyright 2022</footer>
</body>
</html>