<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Bubs</title>
</head>
<body>
    <h1>BUBS</h1>
        <div class="dropdown" style="float:left;">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="/toys">TOYS</a>
                
                <a href="/learn">LEARN</a>
                
                <a href ="/login">LOG IN</a>
    
                <a href ="/join">JOIN</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="first">
            <img src="https://cdn.shopify.com/s/files/1/0249/5715/7421/files/the_memo_1200x1200.jpg?v=1636325720" class="homeimagefirst" alt="firstphoto">
        </div>
        <footer>copyright 2022</footer>

</body>
</html>