<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Bubs</title>
</head>
<body>
    <h1>BUBS for Babies</h1>
    <div class="dropdown" style="float:left;">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
            <a href="/">Home</a>

            <a href="/toys">Toys</a>
                
            <a href ="/login">Log In</a>

            <a href ="/join">Join</a>
    
        </div>
    </div>
    <div class="learn">
        <h4>Learn</h4>
    </div>
    <div>
        <img src="https://cdn.shopify.com/s/files/1/0687/7613/t/59/assets/lookbook-modmedia-7916-feature.jpg?v=1666576772" class="learnphoto">
    </div>
    <footer>Copyright 2022</footer>
</body>
</html>
