<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Bubs</title>
</head>
<body>
    <h1>BUBS</h1>
    <div class="dropdown" style="float:left;">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
            <li><a href="/toys">TOYS</a></li>
        
            <li><a href="/clothes">CLOTHES</a></li>
        
            <li><a href="/books">BOOKS</a></li>
            
            <li><a href="/learn">LEARN</a></li>
            
            <button><a href ="/login">LOG IN</a></button>

            <button><a href ="/join">JOIN</a></button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <h2>LOG IN</h2>
    <form method="POST" action="/login_action">
        <label>Email: <input type="text" name="email" value="{{email}}"></label>
        <label>Password: <input type="text" name="password" value="{{password}}"></label>
        <input type="Submit">
    </form>
</body>
</html>
